@page "/manuals/baby-brezza-formula-pro-advanced"

<ProductComponent ProductName="Baby Brezza Formula Pro Advanced" ProductMake="Baby Brezza" ProductModel="Formula Pro Advanced" ManualUrl="https://cdn.shopify.com/s/files/1/1465/2384/files/FP_ADV_IM_201008.pdf?v=1602253011">
    <p><strong>NOTE:</strong> Only use purified water in the water basin.</p>
    <h3>Daily Cleaning Instructions</h3>
    <p><strong>It is EXTREMELY IMPORTANT to clean the funnel after every 4 bottles made.</strong></p>
    <p>This will keep your Formula Pro&reg; Advanced dispensing accurately.</p>
    <br/>
    <p>Always make sure Funnel &amp; Funnel cover are <strong>COMPLETELY DRY</strong> before re-assemblying.</p>
    <div class="row">
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Daily-1.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption">Remove Funnel & Funnel Cover by pulling out and down.</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Daily-2.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption">Wash Funnel &amp; Funnel Cover with warm, soapy water &amp; rinse well.<br/><strong>Dry completely before re-installing.</strong></figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Daily-3.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption">Wipe the powder-dispensing hole on the underside of the powder container using a dry paper towel or soft dry cloth.</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Daily-4.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption"><strong>Suggestion to make cleaning easier</strong><br/>To make daily cleaning even easier, you can purchase an extra funnel & funnel cover on <a href="https://babybrezza.com/products/formula-pro-advanced-funnel-and-funnel-cover">BabyBrezza.com</a> Then you can swap the spare funnel with the funnel that needs to be cleaned. <strong>NOTE:</strong> you will still need to wipe the powder dispensing hole as shown in Step 3</figcaption>
            </figure>
        </div>
    </div>
    <hr />
    <h3>Monthly Cleaning Instructions</h3>
    <p><strong>Once a month, give your Formula Pro&reg; Advanced a thorough cleaning.</strong></p>
    <div class="row">
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Monthly-1.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption">Hand-wash all parts shown above with warm soapy water, rinse well and dry thoroughly.</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <figure class="figure">
                <img src="images/manuals/baby-brezza-formula-pro-advanced/Monthly-2.png" class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption">Hand wash water tank with warm soapy water, rinse well and dry thoroughly.</figcaption>
            </figure>
        </div>
    </div>
</ProductComponent>
