@page "/manuals/baby-brezza-one-step-sterilizer-dryer"

<ProductComponent ProductName="One Step Baby Bottle Sterilizer Dryer" ProductMake="Baby Brezza" ProductModel="One Step Baby Bottle Sterilizer Dryer" ManualUrl="https://cdn.shopify.com/s/files/1/1465/2384/files/STERILIZER-DRYER-INSTRUCTIONS.pdf?1544638409974322460s">
    <p><strong>NOTE:</strong> only use distilled water in the water basin.</p>
</ProductComponent>
