@page "/manuals"

<h3>Manuals</h3>

<div class="card-group">
    <div class="card">
        <img src="images/manuals/baby-brezza-formula-pro-advanced/product.jpg" class="card-img-top" alt="Baby Brezza Formula Pro Advanced" />
        <div class="card-body">
            <h5 class="card-title">Baby Brezza Formula Pro Advanced</h5>
            <a href="/manuals/baby-brezza-formula-pro-advanced" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="images/manuals/baby-brezza-one-step-sterilizer-dryer/product.jpg" class="card-img-top" alt="One Step Baby Bottle Sterilizer Dryer" />
        <div class="card-body">
            <h5 class="card-title">One Step&trade; Baby Bottle Sterilizer Dryer</h5>
            <a href="/manuals/baby-brezza-one-step-sterilizer-dryer" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="images/manuals/chicco-keyfit-35/product.jpg" class="card-img-top" alt="Chicco KeyFit 35" />
        <div class="card-body">
            <h5 class="card-title">Chicco KeyFit 35</h5>
            <a href="/manuals/chicco-keyfit-35" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>

@code {

}
