@page "/tools"

<h3>Tools</h3>

<div class="card-group">
    <div class="card">
        @*<img src="images/manuals/baby-brezza-formula-pro-advanced/product.jpg" class="card-img-top" alt="Baby Brezza Formula Pro Advanced" />*@
        <div class="card-body">
            <h5 class="card-title">Formula Feeding Chart</h5>
            <a href="/tools/formula-feeding" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>

@code {

}
