@page "/"
@using MatthewMcAllister.Models

<PageTitle>Matthew Ayden McAllister</PageTitle>

<div class="text-koala">
    <h1>Matthew Ayden McAllister</h1>
    <dl class="row">
        <dt class="col-sm-3">Birthdate</dt>
        <dd class="col-sm-9">March 10<sup>th</sup>, 2022 at 7:22 AM</dd>
        <dt class="col-sm-3">Birth Weight</dt>
        <dd class="col-sm-9">6lbs 5oz.</dd>
        <dt class="col-sm-3">Birth Height</dt>
        <dd class="col-sm-9">19"</dd>
        <dt class="col-sm-3">Current Age</dt>
        <dd class="col-sm-9">@(AgeHelper.GetAge(AgeType.Month)) months</dd>
    </dl>
</div>

<h3>Manuals</h3>
<p>A list of machines, devices, apps, etc. used to make care easier. <a class="btn btn-outline-primary" href="/manuals">Go</a></p>

<h3>Tools</h3>
<p>A list of simple tools to make care easier. <a class="btn btn-outline-primary" href="/tools">Go</a></p>

<h3>Supplies</h3>
<p>An ongoing list of supplies and gift ideas are being maintained in a shared Amazon list. <a class="btn btn-outline-primary" href="https://www.amazon.com/hz/wishlist/ls/KUIQGRDZ8H8N?ref_=wl_share">Go</a></p>

<h3>Entertainment</h3>
<p>An ongoing list of Matthew's latest interests. <a class="btn btn-outline-primary" href="/entertainment">Go</a></p>